.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout{
  color: #282828;
  
}

.dot {
  height: 25px;
  width: 25px;  
  border-radius: 50%;
  display: inline-block;    
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  margin-top: 2px;
  margin-right: 10px;
}
.dot-green{
  background-color: #7ABB5B;
}

.dot-yellow{
  background-color: #F3EB72;
}

.dot-red{
  background-color: #F08586;
}

.dot-purple{
  background-color: #A47BB5;
}

.dot-blue{
  background-color: #459AD5;
}

.dot-lightblue{
  background-color: #61C2CC;
}

.legend_input { 
  width: 75%;
  vertical-align: top;
  border-width:0px;
}

.Shadow_Element {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: white;
}