/*
Farben:
#F08586 rot
#F3EB72 gelb
#7ABB5B grün
#61C2CC hellblau
#459AD5 blau
#A47BB5 lila
#ECECEC hellgrau
#C4C4C4 mittelgrau
#575656 dunkelgrau
#282828 fast schwarz für Schrift
*/

body {
  font-weight: 200;
  background-color: #C4C4C4;
}

header a{
  color: #282828;
}

.ueberschrift{
  text-align: center;
  margin: auto;
  padding: 10px;
}

